<div class="form-style">
	<div class="page-form">
		<div class="row"><%= form.text_field :name, class: "form-control", placeholder: "Name(can't be blank)" %></div>
		<div class="row"><%= form.text_field :description, class: "form-control", placeholder: "Description" %></div>
		<div class="row"><%= form.text_field :time_taken, class: "form-control", placeholder: "Time taken (in hours)" %></div>
		<div class="row"><%= form.text_field :date, class: "form-control",:id => "datepicker", placeholder: "Date",:value=> @task.date && @task.try(:date).strftime("%Y-%m-%d") %></div>
		<div class="row">
			Select Project
			<%= form.select(:project_id, options_from_collection_for_select(Project.all.order(:id), :id, :name,params[:project_id]),class:"input_box_style") %>
		</div>
		<div class="row">
			<%= form.submit "Submit", :class=>"btn btn-warning" %>
			<%=link_to tasks_path(project_id: @project.id) do %><span class="btn btn-warning" style="margin-left: 10px;">Cancel</span><%end%>
		</div>
	</div>
</div>

<script>
  $('#datepicker').datepicker({format: 'yyyy-mm-dd'});
</script>	